<html xmlns="http://www.w3.org/1999/html">
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
  </head>
  <script>
  </script>
  <h1 style="margin:1em 0em 0em 12em;">Stream Based Notifications</h1>


  <div class="row" style="margin:1em 5em 5em 10em;">
    <div class="col-md-6">
      <h2 style="margin:0px 0em 1em 2em;text-decoration: underline;">Events</h2>
      {% for name, info in events.items %}
        <h4>{{name}}</h4>
        <div class="list-group" style="width:30%;">
          {% for i in info %}
            <a class="list-group-item" >{{i}}</a>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    <div class="col-md-6">
      <h2 style="margin:0px 0em 1em 2em;text-decoration: underline;">Notification</h2>
      <form action="" method="post">
        {{form.as_p}}
        <input type="submit" value="Send">
      </form>
    </div>
  </div>
</html>
