{% extends "capture.html" %}
{% block update %}
    var socket = new WebSocket('ws://' + window.location.host + '/stream/');

        socket.onopen = function open() {
          alert('WebSockets connection created.');
        };
        socket.onmessage = function message(event) {
          var data = JSON.parse(event.data);
          // NOTE: We escape JavaScript to prevent XSS attacks.
          var event_name = data["event_name"];
          var blueprint = data["blueprint"];
          var bluelist = blueprint.split(",");
          var events = $("#events");
          events.append("<li>"+event_name+"</li><ul>");
          bluelist.forEach(function(each){
             events.append("<li>" + each + "</li>");
          });
          events.append("</ul>");
        };
        if (socket.readyState == WebSocket.OPEN) {
          socket.onopen();
        }
{% endblock %}